header {
  background-color: rgb(50, 50, 50);
}

.flip-horizontally {
  transform: scaleX(-1);
}

/* https://css-tricks.com/snippets/css/flip-an-image/ */

.hero-bg {
  background-image: url(https://images.unsplash.com/photo-1483721310020-03333e577078?q=80&w=3097&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  transform: scaleX(-1);
}